/* Monokai-ish theme */

body{
    background-color: #121311;
    font-family: monospace;
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

ul{
    padding-left: 0;
}

ul#icons{
    font-size: 10vmin;
    padding-left: 0;
    margin-left: -7.5%;
}

li{
    font-size: 1em;
    color: #f8f8f8;
    display: inline-block;
    padding: 5px;
}

/* h4 is only for biggest heading, h5 for subtitle */
h4{
    font-size: 10vmin;
    margin: 0;
    color: #f92672;
}
h5{
    font-size: 4vmin;
    margin:0;
    color: #424242;
}

@media (max-width: 700px) {
    img {
    width: 90%;
    }
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
    ul#icons {
        margin-left: 2.5%;
    }
}

h1{
    font-size: 2.5em;
    color: #d3cf88;
    border-bottom: 1px solid #eeeeee
}

h2{
    font-size: 2em;
    color: #66d9ef;
}

h3{
    font-size: 1.5em;
    color: #a6e22e;
}

p{
    font-size: 1em;
    color: #f8f8f2;
    line-height: 1.5;
}

span{
    color: #fd971f;
}

a{
    font-size: inherit;
    color: #ae81ff;
}

a:hover {
    color: #c8aaff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #424242;
}

::-webkit-scrollbar-thumb:hover {
    background: #5e5e5e;
}
